[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "external/pybind11"]
	path = external/pybind11
	url = git@github.com:pybind/pybind11.git
[submodule "external/doctest"]
	path = external/doctest
	url = git@github.com:onqtam/doctest.git
[submodule "external/sorting_sandbox"]
	path = external/sorting_sandbox
	url = git@github.com:jamesETsmith/sorting_sandbox.git
